# Random attempt at an outfit planner/randomizer (no pun intended)

In [5]:
import random
import datetime
from datetime import date
import psycopg2

In [6]:
today = date.today()
jackets = ["navy suit coat","gray sport coat","navy double breasted coat","gray plaid sport coat"]
shirts = ["ice blue button up","powder blue button up","striped button down","white poplin button up","white oxford button down"]
pants = ["gray slacks","navy slacks","black slacks"]
shoes = ["brown loafers","brown double monks","white leather sneakers"]
# my_closet = [jackets,shirts,pants,shoes]

In [7]:
print("Outfit reccomendation for today:")
todays_outfit =[random.choice(jackets),random.choice(shirts),random.choice(pants),random.choice(shoes),today]
print(todays_outfit)

answer = input("Will this be today's outfit?: Y/N ").upper()
print("\n")

if answer == "Y":
    print(f"Your outfit for {today} will be: \n",todays_outfit)
elif answer == "N":
    print("Okay let's try again!")
    %run robo_closet.ipynb
else:
    print("Please Anwer with Y or N")
    %run robo_closet.ipynb

Outfit reccomendation for today:
['navy suit coat', 'white oxford button down', 'navy slacks', 'brown double monks', datetime.date(2022, 12, 29)]
Will this be today's outfit?: Y/N y


Your outfit for 2022-12-29 will be:
 ['navy suit coat', 'white oxford button down', 'navy slacks', 'brown double monks', datetime.date(2022, 12, 29)]

# Establish a postgres connection to store outfits reccomendations

SQL table Logic: If an outfit has been worn in the past 4-6(?) days {date.today( ) - 6} the script will be run again until a new combonation is generated.

In [8]:
conn = psycopg2.connect(
    host="localhost",
    database="AdventureFiles",
    user="postgres",
    password="")

cursor = conn.cursor()

print("Connection successfully been established")

Connection successfully been established

In [9]:
sql ='''CREATE TABLE robo_closet(
   jacket CHAR(250),
   shirt CHAR(250),
   pants CHAR(250),
   shoes CHAR(250),
   date DATE PRIMARY KEY
)'''

In [10]:
# cursor.execute(sql)

postgres_insert_query = """ INSERT into robo_closet(jacket,shirt,pants,shoes,date) VALUES (%s,%s,%s,%s,%s)"""
record_to_insert = todays_outfit
cursor.execute(postgres_insert_query, record_to_insert)

conn.commit()
count = cursor.rowcount
print(count, "Record inserted successfully into mobile table")

1 Record inserted successfully into mobile table

In [11]:
prev_sql = 'SELECT * FROM robo_closet;'

cursor.execute(prev_sql)

print(cursor.fetchall())

[('gray sport coat                                                                                                                                                                                                                                           ', 'ice blue button up                                                                                                                                                                                                                                        ', 'navy slacks                                                                                                                                                                                                                                               ', 'white leather sneakers                                                                                                                                                                                                                                    ', datetime.date(2022, 12, 29)), ('navy suit coat                                                                                                                                                                                                                                            ', 'white oxford button down                                                                                                                                                                                                                                  ', 'navy slacks                                                                                                                                                                                                                                               ', 'brown double monks                                                                                                                                                                                                                                        ', datetime.date(2022, 12, 29))]

In [1]:
print("marcus")

marcus